/* Ajustes generales de la página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    /* Fondo con degradado */
    background: linear-gradient(135deg, #74ebd5, #9face6);

    color: #263238;
}

.contenedor {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

.tarjeta {
    background-color: white;
    border-radius: 25px;
    padding: 45px 40px;

    text-align: center;

    /* Le da un poco de profundidad a la tarjeta */
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

.icono {
    font-size: 55px;
    margin-bottom: 15px;
}

h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

.subtitulo {
    font-size: 18px;
    color: #607d8b;
    line-height: 1.5;
}

.decoracion {
    width: 70px;
    height: 4px;

    margin: 25px auto;

    background-color: #74b9ff;
    border-radius: 10px;
}

h2 {
    font-size: 24px;
    margin-bottom: 12px;
}

.descripcion {
    color: #78909c;
    line-height: 1.6;
    margin-bottom: 30px;
}

button {
    border: none;
    padding: 15px 30px;

    border-radius: 12px;

    background-color: #0984e3;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    background-color: #0769b5;
    transform: translateY(-2px);
}